@import './variable';
@import './mixin';

// 字体白色
%colorWhite {
  color: $colorWhite;
}

// 背景白色
%bgWhite {
  background-color: $colorWhite;
}

// 字体蓝色
%colorBlue {
  color: $colorMain;
}

// 背景蓝色
%bgBlue {
  background-color: $colorMain;
}
// 背景黑色
%bgBlack {
  background-color: $colorBlackMain;
}
//背景红色有透明度
%bgRed {
  background-color: $colorFontMain;
  opacity: 0.6;
}
//背景红色无透明度
%bgRedBtn {
  background-color: $colorFontMain;
}
//背景蓝色
%bgCommonBlue {
  background-color: $colorBlueFont;
}
//背景常用灰白色
%bgCommon {
  background-color: $colorBgBody;
}
// 字体黑色
%colorBlack {
  color: $colorFontCommon;
}
// 字体黑色（主）
%colorBlackMain {
  color: $colorBlackMain;
}

// 字体红色
%colorRed {
  color: $colorWarning;
}
// 字体红色（主）
%colorRedMain {
  color: $colorFontMain;
}
// 背景红色
%bgRed {
  background-color: $colorWarning;
}

//按钮背景灰色（灰色按钮颜色）
%bgBtnGrey {
  background-color: $colorPlaceholder;
}
// 字体灰色1
%colorGray999 {
  color: $colorGray999;
}

// 字体灰色2
%colorGrayC6 {
  color: $colorPlaceholder;
}

// 字体蓝色
%colorBlueFont {
  color: $colorBlueFont;
}

// 横排：元素中间使用空白补充
%blankInElementHorizontal {
  display: flex;
  justify-content: space-between;
}

// 竖排：元素中间使用空白补充
%blankInElementVertical {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

// 字体大小设置
%fontSize20 {
  font-size: 10px;
}
%fontSize22 {
  font-size: 11px;
}
%fontSize24 {
  font-size: 12px;
}
%fontSize26 {
  font-size: 13px;
}
%fontSize28 {
  font-size: 14px;
}
%fontSize30 {
  font-size: 15px;
}
%fontSize32 {
  font-size: 16px;
}
%fontSize36 {
  font-size: 18px;
}

// 盒子的阴影
%boxShadow {
  box-shadow: 0px 6px 4px 0px rgba(215, 215, 215, 0.29);
}

// 按钮渐变
%btnGradient {
  background-image: linear-gradient(90deg, #108bf3 0%, #016dc7 100%);
}

// 盒子圆角
%borderRadius8 {
  border-radius: 4px;
}

// 1px 边框
%border1pxE1E1E1 {
  border-bottom: 1px solid #e1e1e1;
}
%bordertop1pxE1E1E1 {
  border-top: 1px solid #e1e1e1;
}
%border1pxF2F2F3 {
  border-bottom: 1px solid #f2f2f3;
}
%border1pxC6C6C6 {
  border: 1px solid #e1e1e1;
}
%border1pxF9594B {
  border: 1px solid #f9594b;
}
%border1pxFD1D18 {
  border: 1px solid #fd1d18;
}
%border1px6ba3dd {
  border: 1px solid #6ba3dd;
}
%border1px333333 {
  border: 1px solid #333333;
}
%border1pxf9594d {
  border: 1px solid #f9594d;
}
%border1pxf5f5f5 {
  border: 1px solid #f5f5f5;
}

// 2px 高度
%height2px {
  height: 2px;
}
// 布局方式
.flex {
  display: flex;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.column {
  flex-direction: column;
}

.reverse {
  flex-direction: row-reverse;
}

.flex_item {
  flex: 1;
}

.align {
  align-items: center;
}

.justifyAround {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.justifycenter {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.flex_end {
  justify-content: flex-end;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.mauto {
  margin: 0 auto;
}

.block {
  display: block;
}

.dispalyblock {
  display: inline-block;
}

.beten {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.flex_item2 {
  flex: 0 0 50%;
}
.margin-left-8 {
  margin-left: 8px;
}
.margin-top-40 {
  margin-top: 40px;
}
.color999999 {
  color: #999999;
}
.font-size-15 {
  font-size: 15px;
}
.font-size-13 {
  font-size: 13px;
}
.flex1 {
  flex: 1;
}
