$colorMain: #0085f5;
$colorFontCommon: #3e3a39;
$colorWarning: #fc6620;
$colorPlaceholder: #c6c6c6;
$colorWhite: #ffffff;
$colorGray999: #999999;
$colorBgBody: #F5F5F5;
$colorFontMain: #f9594d;
$colorBlackMain: #333;
$colorBlueFont: #6ba3dd;

$onePx: 1Px;
$twoPx: 2Px;
$threePx: 3Px;
$fourPx: 4Px;
$fivePx: 5Px;
$elevenPx: 11Px;
$tenPx: 10Px;
$fortyPx: 44Px;
